* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #F3F5FC;
}

img {
    position: absolute;
    width: auto;
    height: 35px;
    left: 40px;
    top: 30px;
}

.div-menu-botoes {
    display: flex;
    position: fixed;

    left: 40%;
    top: 40%;

    flex-direction: column;
}

.btn-iniciar-jogo {
    width: 250px;
    height: 60px;
    
    padding: 10px;    
    margin-bottom: 15px;

    background: #0A3871;
    border-radius: 24px;
    border-width: thin;

    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

    opacity: 1;
}

.btn-iniciar-jogo:hover {
    opacity: 0.6;
    transition: 0.6s;
    cursor: pointer;
}

.btn-mostrar-div {
    width: 250px;
    height: 60px;
    padding: 10px;    

    background: #F3F5FC;
    border-radius: 24px;

    font-size: 16px;
    text-align: center;
    color: #0A3871;

    border-color: #0A3871;
    border-width: thin;

    opacity: 0.6;
    cursor: pointer;
}

.btn-mostrar-div:hover {
    background: #e4ebf3;
    color: #000;
    opacity: 1;
    transition: 0.6s;
    cursor: pointer;

}

.div-add-nova-palavra {
    display: none; /* hide */
    margin-top: 25px;
}

.btn-nova-palavra {
    background: #0A3871;
    border-radius: 2px;
    border-width: thin;

    font-size: 16px;
    text-align: center;
    color: #FFFFFF;

    opacity: 1;
}

.btn-nova-palavra:hover {
    opacity: 0.6;
    transition: 0.6s;
}

footer {
    position: fixed;
    height: 50px;
    background-color: #0A3871;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.creditos {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.creditos strong {
    font-weight: 600;
}